/*#bloc {
    width: 100%;
}*/

/*** Article ***/
/*#bloc .article {
    padding: 15px;
    width: 100%;
}
#bloc .article a {
    color: #b32b18;
    text-decoration: none;
}
#bloc .article a:hover {
    font-weight: bold;
    text-decoration: none;
}
#bloc .article ul li {
    margin-left: 30px;
}*/

/*** Tilte ***/
/*#bloc .article .title {
    margin-bottom: 5px;
    text-align: center;
    background: linear-gradient(to right, #fdba4a, 20%, #ff8e38, 30%, #bf461d, 40%, #770a04, 50%, #440000);
    font-weight: bold;
    font-size: 15px;
    color: #fff;
}*/

/*** Info ***/
/*#bloc .article .info {
    margin-bottom: 10px;
    color: #888;
}*/

.modifier_article {
    margin: 10px;
    display: block;
}

#article-title-container {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    min-height: 120px;
}
#article-title-container img {
    float: right;
}
#article-title-container #article-title-info {
    float: left;

}
#article-title-container .title {
    font-size: 36px;
    font-weight: normal;
}
#article-title-container .info {
    color: #919191;
    font-family: Tahoma,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 15px;
}
#article-content-commentaire-container {
    width: 85%;
    height: 40px;
    margin-left: auto;
}
#article-content-commentaire {
    background-color: #fff;
    width: calc(90% - 50px);
    float: right;
    height: 40px;
}
#article-content-commentaire-end {
    width: 40px;
    height: 40px;
    background-color: #fff;
    float: right;
    background: linear-gradient(135deg, #e4e4e4 50%, #fff 50% );
}

#article-content {
    background-color: #fff;
    padding: 20px;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 15px;
}
#article-content .title-bloc {
    font-size: 30px;
    font-weight: normal;
    color: #5d5d5d;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

#article-content .description-picture {
    display: flex;
}

#article-content .description-picture .picture {
    margin-right: 20px;
    flex: 1;
}
#article-content .description-picture .description {
    flex: 1;
}

#article-content li {
    padding-left: 20px;
    list-style: none;
}
#article-content hr {
    border: none;
    border-top: solid 1px #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
}
#article-content hr.bottom {
    margin-bottom: 15px;
}
#article-content a {
    text-decoration: none;
    color: #f46036;
    font-weight: bold;
}
#article-content a:hover {
    text-decoration: underline;
}


@media (max-width: 924px) {

    #article-content .description-picture {
        display: initial;
    }
    #article-content .description-picture .description {
        margin-left: 0px;
    }
    #article-title-container img {
        float: left;
        margin-right: 20px;
    }
    #article-title-container .title {
        font-size: 26px;
        width: 265px;
    }
    #article-title-container .info {
        font-size: 14px;
        width: 265px;
    }
}