<div>
    <header>
        <div class="container" style="margin-bottom: 5px;">

            <div id="nav-btn">
            </div>

            <div id="logo-container">
                <div id="logo"></div>
                <div id="logo-txt">
                    <a id="rick5016" b-entity="search" href="/blog/">rick5016.net</a>
                    <a id="rick5016-sub" b-entity="search" href="/blog/">Drama, anime & manga</a>
                </div>
            </div>

            <div id="search-container">
                <input id="search-input" placeholder="Chercher un drama, un manga, une catégorie..." type="text">
                <button id="search-icone">
                    <div id="search-svg"></div>
                </button>
            </div>

            <div id="connexion-container"></div>

            <nav class="container">
                <a id="add" class="icon" b-entity="edit" href="index.html?edit=">+</a>
                <ul id="pages">
                    <li style="background-color: #f46036;width:100%"><a b-entity="search" href="index.html?search=&categories[]=type:drama" class="link page item nav">Dramas</a></li>
                    <li class="transition-orange"></li>
                    <li style="background-color: #f46036;width:100%"><a b-entity="search" href="index.html?search=&categories[]=type:anime" class="link page item nav">Animes</a></li>
                    <li class="transition-orange"></li>
                    <li style="background-color: #f46036;width:100%"><a b-entity="search" href="index.html?search=&categories[]=type:webtoon" class="link page item nav">Webtoon</a></li>
                    <li class="transition-fonce"></li><li style="background-color: #353535;width:100%"><a href="https://rick5016.net/autres/" class="nav">Autres</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div id="content-container" class="container">
        <div id="menu-container" style="display: none;">
            <div id="menu">
                <h1>Genre</h1>
                <div>Dramas</div>
                <div>Animes</div>
                <div>Mangas</div>
            </div>
        </div>
        <div id="page">
            <div id="alerte"></div>
            <div id="content"></div>
        </div>
    </div>
</div>