* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #e4e4e4;
    /*background: repeating-linear-gradient(0deg, #e4e4e4, #e4e4e4 1500px, #d4d4d4 5px, #d4d4d4 1750px);*/
}

p {
    margin-bottom: 10px;
}

a.icon {
    display: block;
    cursor: pointer;
    padding: 35px 20px 0px 20px;
    background-repeat: no-repeat;
    background-position: center center;
}


/********** Bloc container **********/
.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1310px;
    margin-left: auto;
    margin-right: auto;
}
/********** Bloc container Fin**********/

/********** Header **********/
header.header-scroll {
    padding: 0px 0px 0px 0px !important;
}
header {
    color:#fff;
    background: linear-gradient(90deg,#353535 0,#515151 20%,#515151 46%,#353535);
    width: 100%;
    transition: all .3s ease;
    z-index: 10;
    position: fixed;
    top: 0;
    padding: 22px 0px 30px 0px;
}
/********** Header Fin**********/

/********** Bouton menu **********/
header #nav-btn.nav-btn-scroll {
    opacity: 1 !important;
}
header #nav-btn {
    transition: opacity .3s ease;
    filter: invert(42%) sepia(99%) saturate(1765%) hue-rotate(341deg) brightness(101%) contrast(91%);
    background: url('data:image/svg+xml;utf8,<svg class="svg-inline--fa fa-bars fa-w-14 c-opener__open" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M442 114H6a6 6 0 0 1-6-6V84a6 6 0 0 1 6-6h436a6 6 0 0 1 6 6v24a6 6 0 0 1-6 6zm0 160H6a6 6 0 0 1-6-6v-24a6 6 0 0 1 6-6h436a6 6 0 0 1 6 6v24a6 6 0 0 1-6 6zm0 160H6a6 6 0 0 1-6-6v-24a6 6 0 0 1 6-6h436a6 6 0 0 1 6 6v24a6 6 0 0 1-6 6z"></path></svg>');
    opacity:0;
    position:absolute;
    width:30px;
    height:35px;
    color: #f46036;
    margin-top: 11px;
    margin-left: 23px;
    cursor: pointer;
}
/********** Bouton menu Fin**********/

/********** Logo et titre du site **********/
header #logo-container.logo-container-scroll {
    margin-left: 76px;
    margin-top: 2px !important;
    margin-bottom: 5px !important;
    font-size: 20px !important;
    line-height: 16px !important;
}
header #logo-container {
    display: flex;
    line-height: 22px;
    transition: all .3s;
    font-size: 30px;
}
header #logo-container #logo {
    margin-right:10px;
}
header #logo-container #logo img.img-scroll {
    height: 45px !important;
    margin-top: 5px !important;
}
header #logo-container #logo img {
    height: 60px;
    margin-top: 0px;
    transition: all .3s;
}
header #logo-container #logo-txt {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
header #logo-container #logo-txt a {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    text-decoration: none;
    color: #fff;
}
header #logo-container #logo-txt a#rick5016 {
    text-transform: uppercase;
}
header #logo-container #logo-txt a.rick5016-sub-scroll {
    font-size: 10px !important;
}
header #logo-container #logo-txt a#rick5016-sub {
    transition: all .3s;
    font-size:13px;
    margin-left: 1px;
}
/********** Logo et titre du site Fin **********/

/********** Barre de recherche **********/
header #search-container.search-container-scroll {
    padding-top: 15px !important;
}
header #search-container {
    display: flex;
    transition: all .3s;
    width:100%;
    padding-top: 10px;
}
header #search-container #search-input.search-input-scroll {
    height:30px !important;
    padding-top:5px !important;
    padding-bottom:5px !important;
}
header #search-container #search-input {
    transition: all .3s;
    height:44px;
    width:100%;
    padding-left:10px;
    border:0;
    background-color: #fff;
}
header #search-container #search-input::placeholder {
    font-style: italic;
}
header #search-container #search-icone.search-icone-scroll {
    height: 30px !important;
    padding-top: 3px !important;
}
header #search-container #search-icone {
    cursor: pointer;
    border:0;
    transition: all .3s;
    background-color: #fff;
    width: 55px;
    height: 44px;
    padding-top: 5px;
}
header #search-container #search-icone #search-svg {
    background: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M508.5 481.6l-129-129c-2.3-2.3-5.3-3.5-8.5-3.5h-10.3C395 312 416 262.5 416 208 416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c54.5 0 104-21 141.1-55.2V371c0 3.2 1.3 6.2 3.5 8.5l129 129c4.7 4.7 12.3 4.7 17 0l9.9-9.9c4.7-4.7 4.7-12.3 0-17zM208 384c-97.3 0-176-78.7-176-176S110.7 32 208 32s176 78.7 176 176-78.7 176-176 176z"></path></svg>');
    transition: all .3s;
    opacity: 0.6;
    height: 22px;
    width: 22px;
    display: inline-block;
    background-repeat:no-repeat;
}
header #search-container #search-icone #search-svg:hover {
    opacity: 1;
}
/********** Barre de recherche Fin **********/

/*-------- content --------*/

#content-container #page {
    /*padding: 0px 20px;*/
    width: 100%;
    height: 100%;
    /*min-height: 90vh;*/
    display: flex;
    /*align-items: center;*/
    flex-direction: column;
}

#content-container #page #content {
    display: flex;
    flex-direction: row;
}

#bloc1 {
    background-color: #fff;
}

@media (max-width: 1023px) {
    /********** Header **********/
    header {
        padding: 0px 0px 0px 0px !important;
    }

    /********** Bouton menu **********/
    header #nav-btn {
        opacity:1 !important;
    }

    /********** Logo et titre du site **********/
    #logo-container {
        margin-left: 76px;
        margin-top: 2px !important;
        margin-bottom: 5px !important;
        font-size: 20px !important;
        line-height: 16px !important;
    }
    #logo-container #logo img {
        height: 45px !important;
        margin-top: 5px !important;
    }
    #logo-container #logo-txt a#rick5016-sub {
        font-size: 10px !important;
    }

    /********** Barre de recherche **********/
    #search-container {
        padding-top: 15px !important;
    }
    #search-input {
        height:30px !important;
        padding-top:5px !important;
        padding-bottom:5px !important;
    }
    #search-icone {
        height: 30px !important;
        padding-top: 3px !important;
    }
}

@media (max-width: 640px) {
    #content-container #page #content {
        max-width: 100%;
        min-width: 100%;
    }
    #search-container {
        display: none !important;
    }
    #logo-container {
        margin-left: auto !important;
        margin-right: auto;
        width: 180px;
    }
}

/*-------- alert --------*/
/*#alerte {
    display: none;
    height: 20px;
}

#alerte.ko {
    background-color: rgb(214, 88, 88);
}

#alerte.ok {
    background-color: rgb(88, 214, 94);
}*/




/*
input {
    height: 30px;
    width: 300px;
}

.flex {
    display: flex;
}

#navigation a {
    color: #7a8695;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all ease-in-out .4s;
}

#navigation a:hover {
    cursor: pointer;
    color: #000;
    border-color: #000;
}

.arrow {
    border: solid #7a8695;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 5px;
}
#page_content {
    -webkit-transition: opacity 0.9s ease-in-out;
    -moz-transition: opacity 0.9s ease-in-out;
    -ms-transition: opacity 0.9s ease-in-out;
    -o-transition: opacity 0.9s ease-in-out;
    transition: opacity 0.9 ease-in-out;
}
#page_content.fadeOut {
    opacity: 0;
}
#page_content.fadeIn {
    opacity: 1;
}*/

