<div>
    <div id="header-container">
        <div id="header">
            <span class="title">rick5016.net/blog</span>
            <div id="bloc_login"></div>
        </div>
        <div id="barre">
            <div id="icons">
                <a id="home" class="icon" b-entity="accueil" href="/blog/"></a>
                <a id="add" class="icon" b-entity="edit" href="index.html?edit="></a>
            </div>
            <!--<ul id="pages">
                <li><a b-entity="reminder" href="index.html?reminder" class="link page item">Reminder</a></li>
                <li><a b-entity="serie" href="index.html?serie=" class="page item serie">Séries TV</a></li>
            </ul>-->
        </div>
    </div>
    <div id="content-container">
        <div id="menu" style="display:none"></div>
        <div id="page">
            <div id="alerte"></div>
            <div id="content"></div>
        </div>
    </div>
</div>