* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

p {
    margin-bottom: 10px;
}

a.icon {
    display: block;
    cursor: pointer;
    padding: 35px 20px 0px 20px;
    background-repeat: no-repeat;
    background-position: center center;
}

button {
    cursor: pointer;
    height: 30px;
    width: 200px;
    text-align: center;
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: center;
    display: flex;
    align-items: center;
}

button:hover {
    border-color: #000;
    background-color: #f84812a8;
}

/*-------- header --------*/

#header-container #header {
    display: flex;
    justify-content: space-between;
}

#header-container #header .title {
    color: rgba(85, 85, 85, 1);
    font-size: 31px;
    line-height: 1.9;
    font-weight: 700;
    font-style: italic;
    margin-left: 20px;
}

#header-container #barre {
    background-color: rgba(51, 51, 51, 1);
    height: 35px;
    width: 100%;
    color: #fff;
    display: flex;
}

#header-container #barre #icons {
    display: flex;
}

#header-container #barre #icons a.home {
    background-image: url(../../img/home.png);
}

#header-container #barre #icons a.add {
    background-image: url(../../img/add-15.png);
}

#header-container #barre #pages::before {
    border-left: solid 1px rgba(255, 255, 255, 1);
    content: '';
    height: 20px;
    opacity: 0.5;
}

#header-container #barre #pages {
    display: flex;
    align-items: center;
}

#header-container #barre #pages li {
    margin-left: 15px;
    list-style: none;
}

#header-container #barre #pages li a.item {
    color: #ccc;
    text-decoration: none;
}
#header-container #barre #pages li a.item:hover {
    color: #fff;
    text-decoration: underline;
}

/*-------- content --------*/

#content-container {
    display: flex;
}

#content-container #page {
    background-color: #b32b18;
    padding: 0px 20px;
    width: 100%;
    height: 100%;
    min-height: 90vh;
    display: flex;
    /*align-items: center;*/
    flex-direction: column;
}

#content-container #page #content {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    max-width: 50%;
    min-width: 50%;
    margin: 0 auto 0 auto;
}

@media (max-width: 1920px) {
    #content-container #page #content {
        max-width: 60%;
        min-width: 60%;
    }
}

@media (max-width: 1600px) {
    #content-container #page #content {
        max-width: 70%;
        min-width: 70%;
    }
}

@media (max-width: 1280px) {
    #content-container #page #content {
        max-width: 80%;
        min-width: 80%;
    }
}

@media (max-width: 640px) {
    #content-container #page #content {
        max-width: 100%;
        min-width: 100%;
    }
}


/*-------- alert --------*/

#alerte {
    display: none;
    height: 20px;
}

#alerte.ko {
    background-color: rgb(214, 88, 88);
}

#alerte.ok {
    background-color: rgb(88, 214, 94);
}





.link:hover {
    cursor: pointer;
    text-decoration: underline
}

input {
    height: 30px;
    width: 300px;
}

.flex {
    display: flex;
}

#navigation a {
    color: #7a8695;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all ease-in-out .4s;
}

#navigation a:hover {
    cursor: pointer;
    color: #000;
    border-color: #000;
}

.arrow {
    border: solid #7a8695;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 5px;
}
#page_content {
    -webkit-transition: opacity 0.9s ease-in-out;
    -moz-transition: opacity 0.9s ease-in-out;
    -ms-transition: opacity 0.9s ease-in-out;
    -o-transition: opacity 0.9s ease-in-out;
    transition: opacity 0.9 ease-in-out;
}
#page_content.fadeOut {
    opacity: 0;
}
#page_content.fadeIn {
    opacity: 1;
}